body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}
.container {
  width: 300px;
  margin: 20px auto;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}
h1 {
  color: #333333;
}
a {
  text-decoration: none;
}
.searchCard {
  display: block;
  width: 100%;
  padding: 10px 10px;
  margin-bottom: 10px;
  background-color: #4caf50;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.searchCard:hover {
  background-color: #45a049;
}
input {
  margin-top: 1em;
  border: none;
  border-bottom: 1px solid green;
  outline: none;
}
.bottom-box {
  display: flex;
  padding: 1em;
  justify-content: space-between;
}
#add-btn {
  border: none;
  width: 30%;
  border-radius: px;
  background-color: rgb(239, 216, 87);
}
#add-btn:hover {
  background-color: rgba(229, 217, 87, 0.772);
}
